# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Docker volumes
pgdata/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

package-lock.json